
<div class="container">
    <div class = " mt-5" ><app-worker-header></app-worker-header></div>
    <h1 class="text-center mt-3 mb-5">Заказчики торта из каталога</h1>

    <input type="text" [(ngModel)]="srch" placeholder="Поиск по ФИО заказчика" class="form-control mt-3 mb-3">

    <h3>Фильтр по тортам:</h3>
    <select   class=" col-4 form-control selectpicker" [(ngModel)]="sortON">
        <option [ngValue]="every" selected > Показать все</option>
          <option [ngValue]="choko" value="choko" > Шоколадный</option>
          <option [ngValue]="fruit" value="fruit" >Фруктовый</option>
          <option [ngValue]="cherry" value="cherry">Вишнёвый</option>
        </select>

    <table class="table mt-3" >
        <thead class="thead-light">
          <tr>
            <th scope="col">Имя заказчика</th>
            <th scope="col">Телефон</th>
            <th scope="col">Email</th>
            <th scope="col">Торт</th>
            <th scope="col">Цена торта</th>
            <th scope="col">Адес</th>
            <th scope="col">Дата</th>
          </tr>
        </thead>
        <tbody *ngFor="let customer of customerFirst | filter:srch | sort:sortON">
          <tr>
            <td>{{customer.name_customer}}</td>
            <td>{{customer.tel}}</td>
            <td>{{customer.email}}</td>
            <td>{{customer.cake_name}}</td>
            <td>{{customer.cake_price}}</td>
            <td>{{customer.address}}</td>
            <td>{{customer.date}}</td>
          </tr>
        </tbody>
      </table>
</div>
