<app-header></app-header>

<div class=" info">
    <img src="/assets/img/cream.png" alt="Крем" class="w-100">
    <div class="container text-center">
        <div class="col text-left">
            <button class="btn text-left " type="submit" [routerLink]="['/main']">Вернуться на главную</button>
    </div>
        <h3 class="m-5">Торт "{{cake.name}}"</h3>
    <div class="row">
        <div class="col">
            <img class="w-50" src="{{cake.picture}}" alt="Торт">
        </div>
        <div class="col">
            <p>{{cake.info}}</p>
            <p>Цена: {{cake.price}}</p>

        </div>
    </div>
    <div class="row  mt-5 pb-5 mr-5">
   <div class="col text-right mr-5">
        <button class="btn order " [routerLink]="['/form-ready', cake.id]" type="submit">Заказать</button>
</div>

    </div>
 
    

    </div>
</div>
<app-footer></app-footer>
