main {
    background-image: url(/assets/img/bg10.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    padding: 0 15%;
}
main h2 {
    font-family: 'Ekaterina Velikaya One', arial;
}
main .about{
    display: grid;
    grid-template-rows: 80px 320px 1200px;
    margin-top: 200px;
}
main .about p {
    font-size: 20px;
}
main .about img {
    width: 100%;
    margin: 0 15%;
    
}
main .about .lower {
    margin-top: 100px;
}
main .about .person {
    display: grid;
    grid-template-columns: 30% 30% 30%;
}