<main>
    <div class="container">
        <div class="row">
        <div class="col about text-center">
            <h2>О нас</h2>
            <p class="text-justify">Здравствуйте! Мы - семья Павловых. Печем вкусные домашние тортики для Вас и Ваших близких) <br> 
                У нас можно заказать необычные, интересные, а главное самые вкусные и натуральные сладости ручной работы, которые подарят не только частичку удовольствия, но и украсят ваш праздник.
                Каждое изделие индивидуально и изготавливается в соответствии с вашими предпочтениями и пожеланиями по весу, объему, оформлению, наличию или отсутствию определенных продуктов. Мы всегда готовы рассмотреть любые ваши идеи и сделать что-то новое.
                Мы используем только натуральные продукты! <br>
                Члены нашей семьи очень ответственно подходят к своей работе. Наш Администратор обсудит с Вами все ваши пожелания и преложит наилучший вариант.
                Наш Повар сотворит чудеснейшее лакомство для Вас. Наш курьер доставит тортик быстро, в целости и сохранности. Если ты - сладкоежка, тебе обязательно стоит попробовать нащ тортик.) 
            </p>
            <div class="row person">
                <div class="col lower "><img src="/assets/img/admin.png" alt="Администратор"></div>
                <div class="col "><img src="/assets/img/cooker.png" alt="Повар"></div>
                <div class="col lower"><img src="/assets/img/driver.png" alt="Курьер"></div>
            </div>
        </div>
        </div>
    </div>
</main>
