<div class="container text-center mt-3">
<h1>Добро пожаловать на сайт по заказу домашних тортов!</h1>
<h1 >Представьтесь, пожалуйста</h1>
<div class="col text-center">
<button [routerLink]="['/main']" class="btn btn-info w-50 m-3"><h5>Я - пользователь, хочу заказть торт!</h5></button>
</div>
<div class="col text-center">
    <button [routerLink]="['/login-worker']" class="btn btn-info w-50 m-3"><h5>Я - работник кондитерской!</h5></button>
    </div>
    <div class="col text-center">
        <button  [routerLink]="['/admin-login']" class="btn btn-info w-50 m-3"><h5>Я - администратор сайта!</h5></button>
        </div>
</div>

