<header>
<div class="container-fluid">
    <div class="row header ">
        <div class="col  logo text-center "><img src="/assets/img/logo.png" alt="Логотип" ></div>
        <nav class="row">
        <div class="col  text-center"><a href="" >О нас</a></div>
        <div class="col  text-center"><a href="">Наши торты</a></div>
        <div class="col  text-center"><a href="">Контакты</a></div>
        </nav>
        <div class="col  contact text-center ">
            <a href="">Сделать заказ</a>
            <div class="tel">
            <p >Тел: 8(910)-234-23-23</p>
            <p class="ml-4"> 8(967)-567-34-12</p>
        </div>
        </div>
    </div>
</div>
</header>